body {
  background: #e1e3de;
}
.songsApp {
  margin: auto;
  width: 50%;
}

.textField {
  left: 120px;
}

li {
  list-style: none;
  border: 1px solid #ccc;
  line-height: 2;
  padding: 5px 20px;
  background: white;
  max-width: 800px;
}
li:hover {
  background: rgb(52, 190, 178);
}
