body {
  background: #e1e3de;
}

.textField {
  left: 120px;
}

.title {
  left: 190px;
}

li {
  list-style: none;
}

.songSearchList {
  border: 1px solid #ccc;
  line-height: 2;
  padding: 5px 20px;
  background: white;
  max-width: 800px;
}

.songSearchList:hover {
  background: rgb(52, 190, 178);
}
